:root{ 
    --turquesaAgua: #5EB1BF;
    --naranjoClaro: #EF7B45; 
    --naranjomoreclear: #FFA075;
    --celeste: #CDEDF6;
    --cafe: #BC5932;
    --verde: #1E8A46;

}

/* Globales */


body {

    background: linear-gradient(90deg, rgba(175,130,76,1) 0%, rgb(219, 95, 95) 100%, rgba(0,212,255,1) 100%) fixed no-repeat; 
}




/* w-4/5 rounded-xl border-2 border-cafe-TOW-O bg-[#f1c3af] transition-all duration-150 ease-in-out */

/* .ejemplo {

   
} */


    /* border-color: #d68b6d; */
    /* border-color: orange; */


